<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Foodhandler examPlus (Vue.js App)</title>
  <link href="https://cdn.jsdelivr.net/gh/50c02838bd45e31/cssjs/vuejs.css" rel="stylesheet" type="text/css" />
  <link href="https://cdn.jsdelivr.net/gh/50c02838bd45e31/cssjs/favicon.png" rel="icon" type="image/x-icon">
</head>

<body>
  <main class="container">
    <div id="app" v-cloak>
      <template v-if="showWelcome">
        <div class="welcome-page">
          <center>
            <br />
            <img src="https://cdn.jsdelivr.net/gh/50c02838bd45e31/cssjs/logo.png"
              style="width:200px; height:auto; padding-bottom: 10px; ">
            <br />
            <div class="form-group mb-2">
              <label for="searchtext">
                <h1>ระบบแบบทดสอบความรู้หลักสูตรการอบรมผู้ประกอบกิจการ ตามกฏกระทรวงสุขลักษณะของสถานที่จำหน่ายอาหาร พ.ศ.
                  ๒๕๖๑</h1>
                <h3 style="color: red;">Copyright © 2019-present by Chatrawichai Chanprom | ลิขสิทธิ์และพัฒนาโดย
                  นายชาติระวีไชย จันทร์พร้อม</h3>
              </label>
            </div>
          </center>
          <br />
          <h5>กรุณาพิมพ์ รหัสผู้ใช้งาน ของท่านเพื่อเริ่มทำข้อสอบ:</h5>
          <input class="w3-mobile w3-center custom-form-control" type="text" v-model="ID" placeholder="พิมพ์ที่นี้"
            id="ID" required>
          <p class="w3-button w3-round w3-theme-d4 w3-margin-right w3-mobile" @click="startQuiz">เริ่มทำข้อสอบ</p>
        </div>
      </template>
      <template v-else>
        <header class="w3-card w3-theme">
          <div class="w3-bar" v-show="!showSidebar">
            <br>
            <p class="w3-bar-item w3-mobile">
              <b>
                <center>{{title}}</center>
              </b>
            </p>
          </div>
          <div class="w3-bar" v-show="!showSidebar">
            <p class="w3-bar-item w3-tag w3-round w3-theme-l5 w3-margin-left w3-margin-right w3-mobile">
              <input class="w3-mobile w3-center" type="text"
                style="border: none; background: transparent; outline: none; padding: 0px;" v-model="ID"
                placeholder="พิมพ์ รหัสผู้ใช้งาน ของท่านที่นี้" id="dataID" size="50" value="" :disabled="start"
                required>
            </p>
            <template v-if="!start">
              <p class="w3-bar-item w3-button w3-round w3-theme-d4 w3-margin-left w3-margin-right w3-mobile"
                @click="startQuiz">
                เริ่มทำข้อสอบ
              </p>
            </template>
            <template v-else>
              <p class="w3-bar-item w3-button w3-round w3-theme-d4 w3-margin-left w3-margin-right w3-mobile"
                @click="endQuiz">
                ส่งคำตอบ
              </p>
              <p class="w3-bar-item w3-tag w3-round w3-theme-l4 w3-margin-left w3-margin-right w3-mobile">
                {{config.count}}
                คำถาม
              </p>
              <p class="w3-bar-item w3-tag w3-round w3-theme-l4 w3-margin-left w3-margin-right w3-mobile">
                {{timer}}
              </p>
            </template>
          </div>
        </header>
      </template>
      <main v-if="selectedQuestions">
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="w3-card w3-container w3-padding" v-for="(q, qIndex) in selectedQuestions" :key="q.id">
          <div class="question-container">
            <div class="question-text" style="padding-bottom: 20px;">
              <!-- <label class="w3-block w3-mobile w3-container w3-padding w3-round" :class="q.correct ? 'w3-theme-l3': 'w3-pale-red'"> -->
              <label class="w3-block w3-mobile w3-container w3-padding w3-round"
                :class="q.correct ? 'w3-theme-l3': 'w3-theme-l3'">
                <span class="w3-tag w3-theme w3-round">{{qIndex + 1}}</span>
                <b>{{q.title}}</b>
                <!-- <span class="w3-tag w3-theme-l4 w3-round">{{q.point}}</span> -->
                <!-- <span v-if="q.corrects.length > 1" class="w3-tag w3-red w3-round">M</span> -->
                <span v-if="q.corrects.length > 1" class="w3-tag w3-round">M</span>
                <!-- <span class="w3-tag w3-theme-l4 w3-round" v-else>คะแนน</span> -->
              </label>
              <br />
              <template v-if="q.corrects.length > 1">
                <template v-for="(option, i) in q.options">
                  <label class="w3-block w3-mobile">
                    <input class="w3-check" type="checkbox" v-model="q.selected" :name="q.id" :value="option"
                      :disabled="q.disabled">
                    {{option}}
                  </label>
                </template>
              </template>
              <template v-else>
                <template v-for="(option, i) in q.options">
                  <label class="w3-block w3-mobile">
                    <input class="w3-radio" type="radio" v-model="q.selected" :name="q.id" :value="option"
                      :disabled="q.disabled">
                    {{option}}
                  </label>
                </template>
                <br />
              </template>
            </div>
            <!-- <div class="question-image-container">
            <img v-if="q.image" :src="q.image" alt="Question Image" class="question-image">
          </div> -->
          </div>
        </div>
      </main>
      <footer v-if="selectedQuestions">
        <div class="w3-container w3-theme">
          <p class="w3-center w3-mobile">
            <center>
              Copyright © 2019-present by Chatrawichai Chanprom | ลิขสิทธิ์และพัฒนาโดย นายชาติระวีไชย จันทร์พร้อม
            </center>
          </p>
        </div>
      </footer>
      <div class="message" v-if="message">
        <div class="w3-card">
          <div class="w3-padding" :class="message.type=='Error' ? 'w3-red': 'w3-theme'">
            {{message.type}}
          </div>
          <div class="w3-padding">
            <p class="w3-small">
              {{message.message}}
            </p>
            <button class="w3-button w3-round" :class="message.type=='Error' ? 'w3-red': 'w3-theme'"
              @click="closeMessageBox">
              OK
            </button>
          </div>
        </div>
      </div>
      <div class="message loading" v-if="submitting">
      </div>
    </div>
  </main>
  <script>
    function randomSelectArray(arr, count) {
      if (count > arr.length) {
        count = arr.length
      }

      let newArr = []
      let data = arr.slice()
      for (let i = 0; i < count; i++) {
        let newItem = data.splice(Math.floor(Math.random() * data.length), 1)
        newArr = newArr.concat(newItem)
      }

      return newArr
    }

    function formatTime(seconds) {
      let h = Math.floor(seconds / 3600)
      if (h < 10) {
        h = "0" + h
      }

      let m = Math.floor((seconds % 3600) / 60)
      if (m < 10) {
        m = "0" + m
      }

      let s = (seconds % 3600) % 60
      if (s < 10) {
        s = "0" + s
      }

      return [h, m, s].join(":")
    }

    let data = {
      message: null,
      submitting: false,
      start: false,
      title: "แบบทดสอบความรู้หลักสูตรการอบรมผู้ประกอบกิจการ ตามกฏกระทรวงสุขลักษณะของสถานที่จำหน่ายอาหาร พ.ศ. ๒๕๖๑",
      countDown: null,
      counter: 0,
      ID: "",
      config: {},
      questions: null,
      id: [],
      selectedQuestions: null,
      // showWelcome: true,
      showWelcome: false,
      showSidebar: false,
    }

    let computed = {
      timer: function () {
        return formatTime(this.counter)
      }
    }

    let methods = {
      startQuiz: function () {
        this.showWelcome = false

        if (this.ID === "") {
          Swal.fire({
            icon: "warning",
            title: "คำเตือน",
            text: "กรุณาพิมพ์ รหัสผู้ใช้งาน ของท่านก่อนทำแบบทดสอบด้วยครับ/ค่ะ",
          })
        }

        else {
          this.start = true
          this.counter = this.config.time * 60
          let selectedQuestions = randomSelectArray(this.questions, this.config.count)
          selectedQuestions.forEach(function (item) {
            item.disabled = false
            item.selected = []
            item.correct = true
          })

          this.selectedQuestions = selectedQuestions

          this.countDown = setInterval(function () {
            this.counter -= 1
            if (this.counter === 0) {
              clearInterval(this.countDown)
              this.endQuiz()
            }
          }.bind(this), 1000)

        }
      },

      endQuiz: function () {
        this.start = false
        this.submitting = true

        clearInterval(this.countDown)

        let totalScore = 0
        let tempArray

        this.selectedQuestions.forEach((q) => {
          if (typeof (q.selected) !== "object") {
            tempArray = [q.selected]
          }
          else {
            tempArray = [...q.selected]
          }

          if (tempArray.join() == q.corrects.join()) {
            console.log(true)
            q.correct = true
            totalScore += q.point
          }
          else {
            console.log(false)
            q.correct = false
          }

          q.disabled = true
        })

        let result = [this.ID, totalScore]

        document.getElementById("Scores").value = totalScore
        document.getElementById("IDs").value = this.ID
        document.getElementById("submitSaveDataForm").click()

        this.submitting = false
        this.id = [...this.id, this.ID]
        this.ID = ""
      },
      closeMessageBox: function () {
        this.message = null
      }
    }
  </script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/50c02838bd45e31/cssjs/vue.css.js"></script>

  <!-- window.onload -->
  <script>
    const scriptURL = 'https://script.google.com/macros/s/AKfycbzOT8jgm7ncHsXG2g_Sh8zDWKDQq96XxpaLe38D53V6SJS8-wZ5ihSWKjOrymSNJvH2/exec'
    window.addEventListener('load', async function (e) {
      e.preventDefault()
      let response = await fetch(scriptURL)
      let res = await response.json()
      console.log(res)
      data.id = res.id
      data.questions = res.qp
      data.config = {count: 50, time: 50}
      new Vue({
        el: "#app",
        data,
        computed,
        methods
      })
    }, true)
  </script>
  <!-- window.onload -->

  <!-- e.parameter.Scores/IDs -->
  <section>
    <form id="saveDataForm" class="form-inline" hidden>
      <div class="form-group mx-sm-3 mb-2">
        <input type="text" class="form-control" id="Scores" name="Scores" value="">
        <input type="text" class="form-control" id="IDs" name="IDs" value="">
      </div>
      <input class="btn btn-primary mb-2 rounded-pill" type="submit" id="submitSaveDataForm" value="">
    </form>
  </section>
  <script>
    const saveDataForm = document.forms['saveDataForm']
    saveDataForm.addEventListener('submit', async function (e) {
      e.preventDefault()
      Swal.fire({
        icon: 'info',
        title: 'กำลังประมวลผล กรุณารอสักครู่ !!!',
        timerProgressBar: true,
        didOpen: () => {
          Swal.showLoading()
        }
      })
      const Scores = document.getElementById("Scores").value
      let send = await fetch(scriptURL, {method: 'POST', body: new FormData(saveDataForm)})
      let data = await send.json()
      console.log(data)
      console.log(data.sendData)
      const sendData = data.sendData
      if (sendData == 'pass') {
        Swal.fire({
          icon: 'success',
          title: 'ผลการทดสอบ',
          html: `ทำคะแนนได้ ${Scores}/50 คะแนน<br/>(ทำคะแนนได้มากกว่า 40 คะแนน จึงถือว่า <b>"ผ่าน"</b>)</span>`,
          confirmButtonText: 'OK',
        })
      }
      else if (sendData == 'fail') {
        Swal.fire({
          icon: 'error',
          title: 'ผลการทดสอบ',
          html: `ทำคะแนนได้ ${Scores}/50 คะแนน<br/>(ทำคะแนนได้น้อยกว่า 40 คะแนน จึงถือว่า <b>"ไม่ผ่าน"</b>)</span>`,
          confirmButtonText: 'OK',
        })
      }
    })
  </script>
  <!-- e.parameter.Scores/IDs -->

</body>

</html><!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Foodhandler examPlus (Vue.js App)</title>
  <link href="https://cdn.jsdelivr.net/gh/50c02838bd45e31/cssjs/vuejs.css" rel="stylesheet" type="text/css" />
  <link href="https://cdn.jsdelivr.net/gh/50c02838bd45e31/cssjs/favicon.png" rel="icon" type="image/x-icon">
</head>

<body>
  <main class="container">
    <div id="app" v-cloak>
      <template v-if="showWelcome">
        <div class="welcome-page">
          <center>
            <br />
            <img src="https://cdn.jsdelivr.net/gh/50c02838bd45e31/cssjs/logo.png"
              style="width:200px; height:auto; padding-bottom: 10px; ">
            <br />
            <div class="form-group mb-2">
              <label for="searchtext">
                <h1>ระบบแบบทดสอบความรู้หลักสูตรการอบรมผู้ประกอบกิจการ ตามกฏกระทรวงสุขลักษณะของสถานที่จำหน่ายอาหาร พ.ศ.
                  ๒๕๖๑</h1>
                <h3 style="color: red;">Copyright © 2019-present by Chatrawichai Chanprom | ลิขสิทธิ์และพัฒนาโดย
                  นายชาติระวีไชย จันทร์พร้อม</h3>
              </label>
            </div>
          </center>
          <br />
          <h5>กรุณาพิมพ์ รหัสผู้ใช้งาน ของท่านเพื่อเริ่มทำข้อสอบ:</h5>
          <input class="w3-mobile w3-center custom-form-control" type="text" v-model="ID" placeholder="พิมพ์ที่นี้"
            id="ID" required>
          <p class="w3-button w3-round w3-theme-d4 w3-margin-right w3-mobile" @click="startQuiz">เริ่มทำข้อสอบ</p>
        </div>
      </template>
      <template v-else>
        <header class="w3-card w3-theme">
          <div class="w3-bar" v-show="!showSidebar">
            <br>
            <p class="w3-bar-item w3-mobile">
              <b>
                <center>{{title}}</center>
              </b>
            </p>
          </div>
          <div class="w3-bar" v-show="!showSidebar">
            <p class="w3-bar-item w3-tag w3-round w3-theme-l5 w3-margin-left w3-margin-right w3-mobile">
              <input class="w3-mobile w3-center" type="text"
                style="border: none; background: transparent; outline: none; padding: 0px;" v-model="ID"
                placeholder="พิมพ์ รหัสผู้ใช้งาน ของท่านที่นี้" id="dataID" size="50" value="" :disabled="start"
                required>
            </p>
            <template v-if="!start">
              <p class="w3-bar-item w3-button w3-round w3-theme-d4 w3-margin-left w3-margin-right w3-mobile"
                @click="startQuiz">
                เริ่มทำข้อสอบ
              </p>
            </template>
            <template v-else>
              <p class="w3-bar-item w3-button w3-round w3-theme-d4 w3-margin-left w3-margin-right w3-mobile"
                @click="endQuiz">
                ส่งคำตอบ
              </p>
              <p class="w3-bar-item w3-tag w3-round w3-theme-l4 w3-margin-left w3-margin-right w3-mobile">
                {{config.count}}
                คำถาม
              </p>
              <p class="w3-bar-item w3-tag w3-round w3-theme-l4 w3-margin-left w3-margin-right w3-mobile">
                {{timer}}
              </p>
            </template>
          </div>
        </header>
      </template>
      <main v-if="selectedQuestions">
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="w3-card w3-container w3-padding" v-for="(q, qIndex) in selectedQuestions" :key="q.id">
          <div class="question-container">
            <div class="question-text" style="padding-bottom: 20px;">
              <!-- <label class="w3-block w3-mobile w3-container w3-padding w3-round" :class="q.correct ? 'w3-theme-l3': 'w3-pale-red'"> -->
              <label class="w3-block w3-mobile w3-container w3-padding w3-round"
                :class="q.correct ? 'w3-theme-l3': 'w3-theme-l3'">
                <span class="w3-tag w3-theme w3-round">{{qIndex + 1}}</span>
                <b>{{q.title}}</b>
                <!-- <span class="w3-tag w3-theme-l4 w3-round">{{q.point}}</span> -->
                <!-- <span v-if="q.corrects.length > 1" class="w3-tag w3-red w3-round">M</span> -->
                <span v-if="q.corrects.length > 1" class="w3-tag w3-round">M</span>
                <!-- <span class="w3-tag w3-theme-l4 w3-round" v-else>คะแนน</span> -->
              </label>
              <br />
              <template v-if="q.corrects.length > 1">
                <template v-for="(option, i) in q.options">
                  <label class="w3-block w3-mobile">
                    <input class="w3-check" type="checkbox" v-model="q.selected" :name="q.id" :value="option"
                      :disabled="q.disabled">
                    {{option}}
                  </label>
                </template>
              </template>
              <template v-else>
                <template v-for="(option, i) in q.options">
                  <label class="w3-block w3-mobile">
                    <input class="w3-radio" type="radio" v-model="q.selected" :name="q.id" :value="option"
                      :disabled="q.disabled">
                    {{option}}
                  </label>
                </template>
                <br />
              </template>
            </div>
            <!-- <div class="question-image-container">
            <img v-if="q.image" :src="q.image" alt="Question Image" class="question-image">
          </div> -->
          </div>
        </div>
      </main>
      <footer v-if="selectedQuestions">
        <div class="w3-container w3-theme">
          <p class="w3-center w3-mobile">
            <center>
              Copyright © 2019-present by Chatrawichai Chanprom | ลิขสิทธิ์และพัฒนาโดย นายชาติระวีไชย จันทร์พร้อม
            </center>
          </p>
        </div>
      </footer>
      <div class="message" v-if="message">
        <div class="w3-card">
          <div class="w3-padding" :class="message.type=='Error' ? 'w3-red': 'w3-theme'">
            {{message.type}}
          </div>
          <div class="w3-padding">
            <p class="w3-small">
              {{message.message}}
            </p>
            <button class="w3-button w3-round" :class="message.type=='Error' ? 'w3-red': 'w3-theme'"
              @click="closeMessageBox">
              OK
            </button>
          </div>
        </div>
      </div>
      <div class="message loading" v-if="submitting">
      </div>
    </div>
  </main>
  <script>
    function randomSelectArray(arr, count) {
      if (count > arr.length) {
        count = arr.length
      }

      let newArr = []
      let data = arr.slice()
      for (let i = 0; i < count; i++) {
        let newItem = data.splice(Math.floor(Math.random() * data.length), 1)
        newArr = newArr.concat(newItem)
      }

      return newArr
    }

    function formatTime(seconds) {
      let h = Math.floor(seconds / 3600)
      if (h < 10) {
        h = "0" + h
      }

      let m = Math.floor((seconds % 3600) / 60)
      if (m < 10) {
        m = "0" + m
      }

      let s = (seconds % 3600) % 60
      if (s < 10) {
        s = "0" + s
      }

      return [h, m, s].join(":")
    }

    let data = {
      message: null,
      submitting: false,
      start: false,
      title: "แบบทดสอบความรู้หลักสูตรการอบรมผู้ประกอบกิจการ ตามกฏกระทรวงสุขลักษณะของสถานที่จำหน่ายอาหาร พ.ศ. ๒๕๖๑",
      countDown: null,
      counter: 0,
      ID: "",
      config: {},
      questions: null,
      id: [],
      selectedQuestions: null,
      // showWelcome: true,
      showWelcome: false,
      showSidebar: false,
    }

    let computed = {
      timer: function () {
        return formatTime(this.counter)
      }
    }

    let methods = {
      startQuiz: function () {
        this.showWelcome = false

        if (this.ID === "") {
          Swal.fire({
            icon: "warning",
            title: "คำเตือน",
            text: "กรุณาพิมพ์ รหัสผู้ใช้งาน ของท่านก่อนทำแบบทดสอบด้วยครับ/ค่ะ",
          })
        }

        else {
          this.start = true
          this.counter = this.config.time * 60
          let selectedQuestions = randomSelectArray(this.questions, this.config.count)
          selectedQuestions.forEach(function (item) {
            item.disabled = false
            item.selected = []
            item.correct = true
          })

          this.selectedQuestions = selectedQuestions

          this.countDown = setInterval(function () {
            this.counter -= 1
            if (this.counter === 0) {
              clearInterval(this.countDown)
              this.endQuiz()
            }
          }.bind(this), 1000)

        }
      },

      endQuiz: function () {
        this.start = false
        this.submitting = true

        clearInterval(this.countDown)

        let totalScore = 0
        let tempArray

        this.selectedQuestions.forEach((q) => {
          if (typeof (q.selected) !== "object") {
            tempArray = [q.selected]
          }
          else {
            tempArray = [...q.selected]
          }

          if (tempArray.join() == q.corrects.join()) {
            console.log(true)
            q.correct = true
            totalScore += q.point
          }
          else {
            console.log(false)
            q.correct = false
          }

          q.disabled = true
        })

        let result = [this.ID, totalScore]

        document.getElementById("Scores").value = totalScore
        document.getElementById("IDs").value = this.ID
        document.getElementById("submitSaveDataForm").click()

        this.submitting = false
        this.id = [...this.id, this.ID]
        this.ID = ""
      },
      closeMessageBox: function () {
        this.message = null
      }
    }
  </script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/50c02838bd45e31/cssjs/vue.css.js"></script>

  <!-- window.onload -->
  <script>
    const scriptURL = 'https://script.google.com/macros/s/AKfycbzOT8jgm7ncHsXG2g_Sh8zDWKDQq96XxpaLe38D53V6SJS8-wZ5ihSWKjOrymSNJvH2/exec'
    window.addEventListener('load', async function (e) {
      e.preventDefault()
      let response = await fetch(scriptURL)
      let res = await response.json()
      console.log(res)
      data.id = res.id
      data.questions = res.qp
      data.config = {count: 50, time: 50}
      new Vue({
        el: "#app",
        data,
        computed,
        methods
      })
    }, true)
  </script>
  <!-- window.onload -->

  <!-- e.parameter.Scores/IDs -->
  <section>
    <form id="saveDataForm" class="form-inline" hidden>
      <div class="form-group mx-sm-3 mb-2">
        <input type="text" class="form-control" id="Scores" name="Scores" value="">
        <input type="text" class="form-control" id="IDs" name="IDs" value="">
      </div>
      <input class="btn btn-primary mb-2 rounded-pill" type="submit" id="submitSaveDataForm" value="">
    </form>
  </section>
  <script>
    const saveDataForm = document.forms['saveDataForm']
    saveDataForm.addEventListener('submit', async function (e) {
      e.preventDefault()
      Swal.fire({
        icon: 'info',
        title: 'กำลังประมวลผล กรุณารอสักครู่ !!!',
        timerProgressBar: true,
        didOpen: () => {
          Swal.showLoading()
        }
      })
      const Scores = document.getElementById("Scores").value
      let send = await fetch(scriptURL, {method: 'POST', body: new FormData(saveDataForm)})
      let data = await send.json()
      console.log(data)
      console.log(data.sendData)
      const sendData = data.sendData
      if (sendData == 'pass') {
        Swal.fire({
          icon: 'success',
          title: 'ผลการทดสอบ',
          html: `ทำคะแนนได้ ${Scores}/50 คะแนน<br/>(ทำคะแนนได้มากกว่า 16 คะแนน จึงถือว่า <b>"ผ่าน"</b>)</span>`,
          confirmButtonText: 'OK',
        })
      }
      else if (sendData == 'fail') {
        Swal.fire({
          icon: 'error',
          title: 'ผลการทดสอบ',
          html: `ทำคะแนนได้ ${Scores}/50 คะแนน<br/>(ทำคะแนนได้น้อยกว่า 16 คะแนน จึงถือว่า <b>"ไม่ผ่าน"</b>)</span>`,
          confirmButtonText: 'OK',
        })
      }
    })
  </script>
  <!-- e.parameter.Scores/IDs -->

</body>

</html>